#!/usr/bin/env python
# SLAW OBJECT DETECTION

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator, double_t, int_t, bool_t, str_t
#from local_planner_limits import add_generic_localplanner_params

gen = ParameterGenerator()


 # This unusual line allows to reuse existing parameter definitions
 # that concern all localplanners
#add_generic_localplanner_params(gen)


gen.add("image_topic", str_t, 0, "The topic of the image", "/camera/rgb/image_rect_color")


gen.add("cfg_dir", str_t, 0, "", "/home/broecker/src/ros/src/smartlabatwork/slaw_object_detection/default.xml")

gen.add("image_ratio", double_t, 0, "Image ratio width/height", 1.33, 1, 3)

gen.add("image_width", int_t, 0, "image width", 640, 0, 4000)

exit(gen.generate("slaw_object_detection", "CameraCalibration2", "CameraCalibration"))
